

//colores principales
$bg-header: rgb(31, 156, 123);        // fondo del header
$title-color: rgb(254, 224, 185);      // color de títulos principales
$bg-nav: #CED600;                      // fondo de navegación
$text-primary: #14352C;                 // color de texto principal
$bg-benefits: rgba(37,165,126,0.08);    // fondo de sección beneficios
$border-input: rgba(20,53,44,0.18);      // borde de inputs

// colores secundarios
$color-accent: #ECB23D;                  // color de acento (hover, botones)
$color-quest: #25A57E;                    // verde quest primario